/* DeleteCustomer.css */

/* Container styling */
.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Heading styling */
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Form styling */
  .auth-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  /* Label styling */
  label {
    font-size: 16px;
  }
  
  /* Input field styling */
  input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    font-size: 16px;
  }
  
  /* Button styling */
  .auth-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
  }
  
  /* Red background for delete button */
  .red-bg {
    background-color: #ff5757;
    color: white;
  }
  
  /* White text for delete button */
  .white-txt {
    color: white;
  }
  
  /* Centered content */
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  